<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alieeen.snitch" >

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_CONTACT" />

    <permission
        android:name="com.alieeen.snitch.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:name=".SnitchApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity_"
            android:label="@string/app_name"
            android:theme="@style/MyNavigationDrawerTheme" >
        </activity>

        <receiver
            android:name=".service.BroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.alieeen.snitch" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".SplashScreen_"
            android:label="@string/title_activity_splash_screen" >

        </activity>

        <service android:name=".service.GcmIntentService" />

        <activity
            android:name=".WalkthroughActivity_"
            android:label="@string/title_activity_walkthrough" >
        </activity>
        <activity
            android:name=".LoginActivity_"
            android:label="@string/title_activity_login" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".DetailsActivity_"
            android:label="@string/title_activity_details" >
        </activity>
        <activity
            android:name=".InitialActivity"
            android:label="@string/title_activity_initial" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
